# This file is part of Gentooza's web page
#
# Copyright 2021-2023, Joaquín Cuéllar <joa.cuellar (at) riseup (dot) net>
#
# Gentooza's web page is free software:
# you can redistribute it and/or modify it under the terms of
# the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Gentooza's web page is distributed in the hope that
# it will be useful, but WITHOUT ANY WARRANTY;
# without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE.
# See the GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with Gentooza's web page.
# If not, see <https://www.gnu.org/licenses/>.

anyio==4.4.0
beautifulsoup4==4.10.0
blinker==1.8.2
colorama==0.4.4
commonmark==0.9.1
cssmin==0.2.0
cssprefixer==1.4.1
cssutils==2.3.0
docutils==0.21.2
exceptiongroup==1.2.2
feedgenerator==2.1.0
ghp-import==2.1.0
idna==3.7
importlib-metadata==4.11.2
Jinja2==3.1.4
Markdown==3.3.6
markdown-it-py==3.0.0
MarkupSafe==2.0.1
mdurl==0.1.2
ordered-set==4.1.0
pelican==4.9.1
Pillow==8.4.0
pretty==0.1
Pygments==2.18.0
python-dateutil==2.8.2
pytz==2021.3
rich==13.7.1
six==1.16.0
smartypants==2.0.1
sniffio==1.3.1
soupsieve==2.3.1
style==1.1.0
typing_extensions==4.12.2
typogrify==2.0.7
Unidecode==1.3.8
update==0.0.1
watchfiles==0.23.0
webassets==2.0
zipp==3.7.0
