{#
# This file is part of Gentooza's web page
#
# Copyright 2021-2024, Joaquín Cuéllar <joa.cuellar (at) riseup (dot) net>
#
# Gentooza's web page is free software:
# you can redistribute it and/or modify it under the terms of
# the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Gentooza's web page is distributed in the hope that
# it will be useful, but WITHOUT ANY WARRANTY;
# without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE.
# See the GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with Gentooza's web page.
# If not, see <https://www.gnu.org/licenses/>.
#}
{% extends "base.html" %}

{% block content %}

<section class="content">

  <h3 class="posttitle">
    <a class="nodec" href="/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
      {{ article.title }}
    </a>
  </h3>

  <div class="postinfo">
    <p class="published" title="{{ article.date.isoformat() }}">
      {{ article.locale_date }}
    </p>

    {% if article.author and SHOW_ARTICLE_AUTHOR %}
    <address class="vcard author">
      By <a class="nodec" href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>
    </address>
    {% endif  %}
  </div><!-- .postinfo -->

  <div class="article">
    {{ article.content }}
  </div><!-- .content -->

</section>

{% endblock %}
