<!--
# This file is part of Gentooza's web page
#
# Copyright 2021-2022, Joaquín Cuéllar <joa.cuellar (at) riseup (dot) net>
#
# Gentooza's web page is free software:
# you can redistribute it and/or modify it under the terms of
# the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Gentooza's web page is distributed in the hope that
# it will be useful, but WITHOUT ANY WARRANTY;
# without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE.
# See the GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with Gentooza's web page.
# If not, see <https://www.gnu.org/licenses/>.
-->
<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

  <head>
    {% block head %}
      <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700' rel='stylesheet' type='text/css' />
      <link href='http://fonts.googleapis.com/css?family=Merriweather:300' rel='stylesheet' type='text/css'/>
      <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:200,400,700' rel='stylesheet' type='text/css'/>
      <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/icons.css"/>
      <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/styles.css"/>
      <meta charset="utf-8" />
      {% if FEED_ATOM %}
        <link href="/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
      {% endif %}
      {% if FEED_RSS %}
        <link href="/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
      {% endif %}
    {% endblock head %}
  </head>

  <body id="index">
    <!-- header -->
    <header class="siteheader">
      <!-- site image -->
      {% if PROFILE_IMAGE_URL %}
        <div class= "siteimage">
          <a class="nodec" href="{{ SITEURL }}">
            <img  src="/theme/images/web_title-1.gif">
          </a>
        </div>
      {% endif %}

      <div class = "sitebanner">
        <h1><a class="sitetitle nodec" href="{{ SITEURL }}">{{ SITENAME }}</a></h1>
        <h3 class ="sitesubtitle">{{ SITESUBTITLE }}</h3>
        <!-- nav -->
        <nav class="menu">
          <ul>
            <!-- menu items-->
            {% for title, link in MENUITEMS %}
              <li><a class="nodec {% if link == '/' + output_file %} active{% endif %}" href="{{ link }}">{{ title }}</a></li>
            {% endfor %}
            <!--pages-->
            {% if DISPLAY_PAGES_ON_MENU %}
              {% for p in PAGES %}
                <li{% if p == page %} class="active"{% endif %}><a class="nodec" href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
              {% endfor %}
            {% endif %}
            <!-- services icons -->
            {% if EMAIL_ADDRESS %}
              <li><a class="nodec icon-mail-alt" href="mailto:{{ EMAIL_ADDRESS }}"></a></li>
            {% endif %}
            {% if GITHUB_ADDRESS %}
              <li><a class="nodec icon-github" href="{{ GITHUB_ADDRESS }}"></a></li>
            {% endif %}
            {% if SO_ADDRESS %}
              <li><a class="nodec icon-stackoverflow" href="{{ SO_ADDRESS }}"></a></li>
            {% endif %}
            {% if TWITTER_ADDRESS %}
              <li><a class="nodec icon-twitter" href="{{ TWITTER_ADDRESS }}"></a></li>
            {% endif %}
            {% if FB_ADDRESS %}
              <li><a class="nodec icon-facebook" href="{{ FB_ADDRESS }}"></a></li>
            {% endif %}
            {% if FEED_RSS %}
              <li><a class="nodec icon-rss" href="/{{ FEED_RSS }}"></a></li>
            {% endif %}
          </ul>
        </nav>
      </div> <!-- sitebanner -->
    </header>

    <!-- content -->
    {% block content %}
    {% endblock %}

    <!-- footer -->
    <footer>
      <div class="footer-left">
        <p>
          ©{{ CURRENT_YEAR }} {{ AUTHOR }}, license <a href="{{ LICENSE_URL}}"> {{LICENSE_NAME }}</a>
          unless otherwise noted.
          Generated by <a href= "http://docs.getpelican.com/">Pelican</a>
        </p>
      </div>
      <div class="footer-right">
        <p>
          <a class="social" target="_blank" href="mailto:joa.cuellar@riseup.net"><i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i></a>
          <a class="social" target="_blank" href="https://twitter.com/JoaCuellar"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
          <a class="social" target="_blank" href="https://es.linkedin.com/in/joaqu%C3%ADn-cu%C3%A9llar-padilla-bb1074234"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
          <a class="social" target="_blank" href="https://savannah.nongnu.org/users/gentooza"><i class="fa fa-gnu fa-lg" aria-hidden="true"></i></a>
          <a class="social" target="_blank" href="https://github.com/gentooza"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
        </p>
      </div>
    </footer>
  </body>
</html>
