<!--
# This file is part of Gentooza's web page
#
# Copyright 2021-2022, Joaquín Cuéllar <joa.cuellar (at) riseup (dot) net>
#
# Gentooza's web page is free software:
# you can redistribute it and/or modify it under the terms of
# the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Gentooza's web page is distributed in the hope that
# it will be useful, but WITHOUT ANY WARRANTY;
# without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE.
# See the GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with Gentooza's web page.
# If not, see <https://www.gnu.org/licenses/>.
-->
{% extends "base.html" %}

{% block content %}

<div class="content">
    <div class="article">
      <h1>¿Porque tener una página personal? </h1>

 <p>Siempre he tenido la espinita clavada de tener un sitio donde concentrar todo el trabajo en programación y diseño electrónico libre, así que aquí enlazaré mis perfiles de redes sociales (GNU Savannah y Github) e iré creando las páginas de los proyectos en que participo junto a su código fuente.</p>
 <p>Así será una ventanita donde poder contactarme y donde poder compartir mi saber.</p>
 <p>No es para poner posts con ideas felices, divagaciones, opiniones o soluciones a problemas de código. Para eso están los foros y redes sociales, los wikis comunitarios y las páginas y documentación oficiales de proyectos.</p>
<br/>
<p>A hackear! 😀</p>

    </div>
</div>

{% endblock content %}
