{% extends "base.html" %}

{% block content %}

<section class="content">
 <p style="font-weight: 700">¿Porque tener una página personal?</p>
 <p>Siempre he tenido la espinita clavada de tener un sitio donde concentrar todo el trabajo en programación y diseño electrónico libre, así que aquí enlazaré mis perfiles de redes sociales (GNU Savannah y Github) e iré creando las páginas de los proyectos en que participo junto a su código fuente.</p>
 <p>Así será una ventanita donde poder contactarme y donde poder compartir mi saber.</p>
 <p>No es para poner posts con ideas felices, divagaciones, opiniones o soluciones a problemas de código. Para eso están los foros y redes sociales, los wikis comunitarios y las páginas y documentación oficiales de proyectos.</p>

A hackear! 😀

</section><!-- /#content -->

{% endblock content %}
